.userList {
	flex: 4;
	overflow: auto;
}

.userListUser {
	display: flex;
	align-items: center;
}

.userListImg {
	width: 32px;
	height: 32px;
	border-radius: 50px;
	object-fit: cover;
	margin-right: 10px;
}

.userListEdit {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 20px;
	/* padding: 5px 20px 20px 5px; */
	height: 30px;
	width: 60px;
	background-color: #3bb077;
	color: white;
	cursor: pointer;
	margin-right: 20px;
}

.userListDelete {
	color: red;
	cursor: pointer;
}