.featured {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.featuredItem {
	flex: 1;
	margin: 0px 20px;
	padding: 30px;
	border-radius: 10px;
	/* cursor: pointer; */
	-webkit-box-shadow: 9px 9px 29px -7px #000000; 
	box-shadow: 9px 9px 29px -7px #000000;
	max-width: 33%;
}

.featuredTitle {
	font-size: 20px;
}

.featuredMoneyContainer {
	margin: 10px 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.featuredMoney {
	font-size: 1.25rem;
	font-weight: 600;
}

.featuredMoneyRate {
	display: flex;
	align-items: center;
	margin-left: 12px;
}

.featuredIcon {
	font-size: 14px;
	margin-left: 5px;
	color: green;
}

.featuredIcon.negative {
	color: red;
}

.featuredSub {
	font-size: 15px;
	color: gray;
}