.widgetSm {
	flex: 1;
	-webkit-box-shadow: 9px 9px 29px -7px #000000; 
	box-shadow: 9px 9px 29px -7px #000000;
	padding: 20px;
	margin-right: 20px;
	text-align: left;
}

.widgetSmTitle {
	margin-left: 20px;
	font-size: 32px;
	font-weight: 600;
}

.widgetSmImg {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
	margin-left: 20px;
}

.widgetSmList {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: left;

}

.widgetSmListItem {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px 0;
}

.widgetSmUser {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
}

.widgetSmUsername {
	font-weight: 600;
}


.widgetSmUserTitle {
	font-weight: 300;
}

.widgetSmButton {
	display: flex;
	align-items: center;
	border: none;
	border-radius: 10px;
	padding: 7px 10px;
	background-color: #eeeef7;
	color: #555;
	cursor: pointer;
	margin-left: 20px;

}

.widgetSmIcon {
	font-size: 16px !important;
	margin-right: 5px;
}